*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*# Debug region */

.debug * {
    border: 1px dashed;
}

/*#end Debug region */

:root {
    --drop-dark: #1a1a1a;
    --drop-light: #ffffff;
    --drop-section-light: #b4d0e7;
    --drop-buttons: #0061ff;
    --drop-designit:#a2d39b;
    --drop-designit-border: #d1e9cd;
    --drop-arziona:#61082b;
    --drop-florida:#0093ce;
    --drop-topps:#ff1c1c;
    --drop-bycicle:#d5001f;
    --drop-hearst:#b4d0e7;
    --drop-lonely:#0d2481;
    --drop-c-channel:#ffd830;
}

/*#utilities region */
.d-flex{
    display: flex; 
}

.align-items-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.container{
    width: 65%;
    margin: auto;
    padding: 1rem;
}

.container-sm{
    width: 60%;
    margin: auto;
    padding: 2rem;
}

.row {
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}

.col-4, .col-8, .col-12{
    padding: 1rem; 
}

.col-4, .col-logos{
    width: calc((100% / 12) * 4);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-12{
    width: 100%;
}

.wrap{
    flex-wrap: wrap;
}

/*#end utilities region */

/*#common region */
ul{
    list-style: none;
    color: var(--drop-dark);
    gap: 20px;
}

a:not(.buy-now, .delete, .clinet-informations){
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1{
    
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h4{
    margin-top: 1rem;
}

.m-top_2rem{
    margin-top: 2rem;
}

.m-top_3rem{
    margin-top: 3rem;
}

/*#end common region */

/*#header region */
header{
    padding: 0.5rem;

    a{
        color: var(--drop-dark);
    }
}

.cta{
    color: var(--drop-light);
    background-color: var(--drop-buttons);
    border: none;
    padding: 0.5rem 0.75rem;
    display: block;
}

.left-menu{
    margin-left: 2rem;
}

.right-menu{
    margin-right: 1rem;
}


/*#endheader region */

/*#main region */
.jumbotron, .call-to-action{
    background-color: var(--drop-section-light);
}

.jumbotron{
    height: 520px;

    img{
        height: 100%;
        width: 100%;
    }
}


.delete{
    color: var(--drop-dark);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2rem;
}

.radio-container {
    position: relative;
    font-size: 15px;
}
  
.radio-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
  
.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 50%;
}
  
.radio-container input:checked ~ .radiomark {
    background-color: #2196F3;
}
  
.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.radio-container input:checked ~ .radiomark:after {
    display: block;
}
  
.radio-container .radiomark:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--drop-light);
}

.text{
    margin-left: 20px;
    font-size: 1rem;
}

.card{
    border: 1px solid lightgray;
    height: 100%;
}

.yearly{
    margin: 2rem 0;
    margin-left: 10px;
}

.card-title, .big-card-title{
    text-align: center;
    padding: 10px;
}

.card-title{
    border-bottom: 1px solid lightgray;
}

.plans .col-4 a:not(:first-child), .users a{
    color: var(--drop-buttons);
}

.plans{
    padding: 2rem 0;
}

.card-body{
    padding: 1rem;
    min-height: 500px;
}

.dropbox-business .container-sm h2{
    margin-bottom: 4rem;
}

.sell-office{
    color: var(--drop-light);
    background-color: var(--drop-buttons);
    padding: 0.5rem 0.75rem;
}

.gray-font{
    color: gray;
    margin-top: 1rem;
}

.divider{
    margin-top: 1rem;
    width: 20%;
    color: lightgray;
}

.try{
    margin-top: 2rem;
    text-align: center;
}

.contact{
    padding: 0.5rem 0.5rem;
}

.card-body-bottom-list > li i{
    color: var(--drop-buttons);
}

.big-card-body, .call-to-action{
    padding: 1rem;
}

.big-card-body-top{
    align-items: center;
}

.big-card-title, .big-card-body{
    border: 1px solid lightgray;
}

.big-card-body-bottom > p{
    margin-top: 3rem;
}

.partner{
    border: 1px solid var(--drop-dark);
    padding: 0.5rem 0.75rem;
    background-color: var(--drop-light);
}

.partner a, .free-try a{
    color: var(--drop-dark);
}

.container-sm > h2{
    padding: 1rem 0;
}

.users{
    padding: 5rem 0;
}

.users > h2{
    margin-bottom: 3rem;
}

.logos{
    width: 100%;
}

.left img, .right img{
    aspect-ratio: 1;
    object-fit: contain;
    filter: invert(1);
    padding: 1.3rem;
}

.designit{
    background-color: var(--drop-designit);
    border: 10px solid var(--drop-designit-border);
}

.arizona{
    background-color: var(--drop-arziona);
    border: 10px solid var(--drop-arziona);
}

.florida{
    background-color: var(--drop-florida);
    border: 10px solid var(--drop-florida);
}

.topps{
    background-color: var(--drop-topps);
    border: 10px solid var(--drop-topps);
}

.bycicle{
    background-color: var(--drop-bycicle);
    border: 10px solid var(--drop-bycicle);
}

.hearst{
    background-color: var(--drop-hearst);
    border: 10px solid var(--drop-hearst);
}

.lonely{
    background-color: var(--drop-lonely);
    border: 10px solid var(--drop-lonely);
}

.c-channel{
    background-color: var(--drop-c-channel);
    border: 10px solid var(--drop-c-channel);
}

.image-title img{
    height: 100px;
    margin-bottom: 1rem;
}

.functions{
    background-color: #f5f5f5;
    padding: 2rem;
}

.left > div, .right > div{
    width: 50%;
}

.col-8 > h2{
    color: var(--drop-arziona);
}

.call-to-action{
    padding: 3rem 0;
}

.free-try{
    background-color: var(--drop-light);
    text-align: center;
    padding: 0.5rem 0 ;
}

.FAQ{
    margin-bottom: 6rem;
}

.item{
    padding: 2rem 0;
}

.item > i, .item > h4{
    vertical-align: middle;
}

#questions, .item{
    border-bottom: 1px solid gray;
}

#questions{
    padding-bottom: 2rem;
}
/*#endmain region */

/*#footer region */

footer{
    background-color: var(--drop-dark);

    div{
        margin-top: 3rem;
    }

    ul{
        line-height: 2rem;
    }

    a{
        color: var(--drop-light); 
    }

    i, span{
        color: gray;
    }

    i{
        margin-top: 4rem;
    }
}

.footer-item > h3, .footer-item > ul{
    color: var(--drop-light);
}

.lang-selection{
    border-top: 1px solid var(--drop-light);
    
}

/*#endfooter region */