*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*# Debug region */

.debug * {
    border: 1px dashed;
}

/*#end Debug region */

:root {
    --drop-dark: #1a1a1a;
    --drop-light: #ffffff;
    --drop-section-light: #b4d0e7;
    --drop-buttons: #0061ff;
}

/*#utilities region */
.d-flex{
    display: flex; 
}

.align-items-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.container{
    width: 65%;
    margin: auto;
    padding: 1rem;
    height: 500px;
}

.container-sm{
    width: 60%;
    margin: auto;
    padding: 2rem;
}

.col-2{
    width: calc((100% / 12) * 2);
}

.col-4{
    width: calc((100% / 12) * 4);
    padding: 0.5rem; 
}

.col-logos{
    width: calc((100% / 12) * 4);
}

.col-8{
    width: calc((100% / 12) * 8);
    padding: 0.5rem;
}

.col-12{
    width: 100%;
    padding: 0.5rem;
}

.wrap{
    flex-wrap: wrap;
}

/*#end utilities region */

/*#common region */
ul{
    list-style: none;
    color: var(--drop-dark);
    gap: 20px;
}

a:not(.buy-now, .delete, .clinet-informations){
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1{
    
    font-size: 4rem;
}

h2{
    font-size: 2rem;
    margin-top: 3rem;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h4{
    margin-top: 1rem;
}

/*#end common region */

/*#header region */
header{
    padding: 0.5rem;
}

.cta{
    color: var(--drop-light);
    background-color: var(--drop-buttons);
    border: none;
    padding: 0.5rem 0.75rem;
}

.left-menu{
    margin-left: 2rem;
}

.right-menu{
    margin-right: 1rem;
}


/*#endheader region */

/*#main region */
.jumbotron, .call-to-action{
    background-color: var(--drop-section-light);
}

.col-8 img{
    margin-bottom: -5rem;
}

.col-4-top, .col-4-bottom, .delete, .monthly{
    margin-top: 2rem;
}

.delete{
    color: var(--drop-dark);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2rem;
}

.card{
    border: 1px solid lightgray;
    height: 1000px;
}

.monthly{
    border: 20px solid var(--drop-buttons);
}

.yearly{
    margin-top: 2rem;
    margin-left: 20px;
}

.card-title, .big-card-title{
    text-align: center;
    padding: 10px;
}

.card-title{
    border-bottom: 1px solid lightgray;
}

.plans{
    padding: 2rem;
}

.card-body{
    padding: 1rem;
}

.card-body, .card-body-top, .card-body-bottom, .card-body-bottom-list
{
    margin-top: 2rem;
}

.gray-font{
    color: gray;
    margin-top: 1rem;
}

.card-body-top > li, .card-body-bottom-list > li{
    margin-top: 2rem;
}

.divider{
    margin-top: 1rem;
    width: 20%;
    color: lightgray;
}

.try{
    display: inline-block;
    margin-top: 2rem;
    text-align: center;
}

.contact{
    padding: 0.5rem 5rem;
}

.card-body-bottom-list > li i{
    color: var(--drop-buttons);
}

.big-card-body, .call-to-action{
    padding: 2rem;
}

.big-card-title, .big-card-body{
    border: 1px solid lightgray;
}

.big-card-body-top-left > h3, .partner{
    margin-top: 2rem;
}

.big-card-body-bottom > p{
    margin-top: 3rem;
}

.partner{
    border: 1px solid var(--drop-dark);
    padding: 0.5rem 0.75rem;
    background-color: var(--drop-light);
}

.container-sm > h2{
    padding: 1rem 0;
}

.users > h2{
    margin-bottom: 3rem;
}

.logos{
    width: 100%;
}

.left img, .right img{
    aspect-ratio: 1;
    object-fit: contain;
    filter: invert(1);
}

.designit{
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}

.arizona{
    background-color: #61082b;
    border: 10px solid #61082b;
}

.florida{
    background-color: #0093ce;
    border: 10px solid #0093ce;
}

.topps{
    background-color: #ff1c1c;
    border: 10px solid #ff1c1c;
}

.bycicle{
    background-color: #d5001f;
    border: 10px solid #d5001f;
}

.hearst{
    background-color: #b4d0e7;
    border: 10px solid #b4d0e7;
}

.lonely{
    background-color: #0d2481;
    border: 10px solid #0d2481;
}

.c-channel{
    background-color: #ffd830;
    border: 10px solid #ffd830;
}

.image-title img{
    height: 100px;
    margin-bottom: 1rem;
}

.functions{
    background-color: lightgray;
    padding: 2rem;
}

.functions-body > p, .functions-body > div{
    margin-top: 2rem;
}

.left > div, .right > div{
    width: 50%;
}

.col-8 > h2{
    color: #61082b;
}

.free-try{
    background-color: var(--drop-light);
    text-align: center;
    padding: 0.5rem 0 ;
}

.FAQ{
    margin-bottom: 6rem;
}

.item{
    padding: 2rem 0;
}

.item > i, .item > h4{
    vertical-align: middle;
}

#questions, .item{
    border-bottom: 1px solid gray;
}

#questions{
    padding-bottom: 3rem;
}
/*#endmain region */

/*footer region */

footer{
    background-color: var(--drop-dark);

    div{
        margin-top: 3rem;
    }

    ul{
        line-height: 2rem;
    }

    a{
        color: var(--drop-light); 
    }

    i, span{
        color: gray;
    }

    i{
        margin-top: 4rem;
    }
}

.footer-item > h3, .footer-item > ul{
    color: var(--drop-light);
}

.lang-selection{
    border-top: 1px solid var(--drop-light);
}



/*#endfooter region */
